# IDE
.vscode/
.idea/
*.swp
*.swo

# Java
target/
*.class
*.jar
*.war
*.ear
.mvn/
mvnw
mvnw.cmd

# Node / Angular
node_modules/
dist/
.angular/
package-lock.json

# Docker
.docker/

# OS
Thumbs.db
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
env/
venv/
*.xlsx
*.sql
